.tiptap.ProseMirror {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    color: inherit;
    font-style: inherit;

    &:first-child,
    &:first-of-type {
      margin-top: 0;
    }
  }

  h1 {
    font-size: 3em;
    font-weight: 700;
    margin-top: 3em;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
    margin-top: 2.5em;
  }

  h3 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 2em;
  }

  h4 {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 2em;
  }
  h5{
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 2em;
  }
  h6 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 2em;
  }
}
